<nz-layout class="app-layout">
  <nz-header>
    <nz-page-header>
      <nz-page-header-title>Document Scanner</nz-page-header-title>
    </nz-page-header>
  </nz-header>
  <nz-layout>
    <nz-layout>
      <nz-content>
        <div class="left">
          <div class="toolbar">
            <button nz-tooltip nzTooltipTitle="Delete selected" nzTooltipPlacement="bottom">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
            <button nz-tooltip nzTooltipTitle="Edit selected" nzTooltipPlacement="bottom">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            <button nz-tooltip nzTooltipTitle="Rotate selected" nzTooltipPlacement="bottom">
              <i nz-icon nzType="rotate-right" nzTheme="outline"></i>
            </button>
          </div>
          <app-document-viewer height="calc(100% - 48px)" (onWebTWAINReady)="onWebTWAINReady($event)"></app-document-viewer>
        </div> 
        <div class="right">
          <nz-collapse>
            <nz-collapse-panel nzHeader="SCAN">
              Select Source:
              <div>
                <nz-select [(ngModel)]="selectedScanner">
                  <nz-option *ngFor="let scanner of scanners" [nzValue]="scanner" [nzLabel]="scanner"></nz-option>
                </nz-select>
              </div>
              <button nz-button (click)="scan()">Scan</button>
            </nz-collapse-panel>
            <nz-collapse-panel nzHeader="SAVE">
              
            </nz-collapse-panel>
          </nz-collapse>
        </div> 
      </nz-content>
    </nz-layout>
  </nz-layout>

</nz-layout>
